<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        .content {
            background-color: #fff;
            padding: 20px;
        }

        .footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>¡Hola! {{ name }}</h1>
        </div>
        <div class="content">
            <p>Ha recibido este mensaje porque se ha creado una cuenta para usted en el sistema de SAA.</p>
            <p>Estos son sus credenciales de inicio de sesión:</p>
            <p>Correo electrónico: {{ email }}</p>
            <p>Contraseña: {{ password }}</p>
            <p>Por favor, inicie sesión en el sistema con estas credenciales y cambie su contraseña.</p>
            <p>Si tiene alguna pregunta, por favor contáctenos.</p>
            <p>Saludos,<br>Equipo de SAA</p>
        </div>
        <div>   
            <p> Inicie sesion en el sistema <a href="{{url}}">
                <button style="background-color: #333; color: #fff; padding: 10px; border: none; border-radius: 5px;">Iniciar sesión</button>
            </a></p>
            <p>Si no puede hacer clic en el botón, copie y pegue la siguiente URL en su navegador: {{url}}</p>
        </div>
        <div class="footer">
            <p>Este es un mensaje automático. Por favor, no responda a este mensaje.</p>
        </div>
    </div>
</body>
</html>
